<!DOCTYPE html>
<html lang="ru">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Туроператор</title>

<div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/index">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav">
            {% for departures_ENG, departures_RU in departures.items() %}
            <li class="nav-item active">
            <a class="nav-link active" href="/from/{{departures_ENG}}">{{departures_RU}} </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
</head>

<body>
{% block content %}

{% endblock %}
</body>

</html>